@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #063232;
  --color-secondary: #ffa07a;
  --font-family: system-ui;
}

body {
  background-color: #008080;
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 10px 0;
}

/* Media Queries para diseño responsivo */

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  main {
    flex-direction: column;
    gap: 5px;
  }

  .title {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  body {
    padding: 25px;
  }

  .title {
    font-size: 1em;
  }
}
